__pycache__
.DS_Store
rollouts
*.gb
*.ram
.ipynb_checkpoints
raw_documentation
*.pem
_autoplay.mp4
session_*
.env
PokemonRed.gb.state
venv*
.python-version

# Ignore training runs
v2/runs/
v2/rollouts/
v2/final_states/
